<div class="container">
  <div class="row">
    <!--About me-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Über mich</h2>
        <img
          src="./assets/Shathanan Amirthalingam_6019.jpg"
          alt="profile picture"
          width="230"
          height="260"
          class="rounded-circle"
        />

        <p>
          Mein Name ist Shathanan Amirthalingam und ich bin als Projektleiter
          bei der Five Informatik AG in Schönbühl tätig. Neben meiner
          beruflichen Tätigkeit engagiere ich mich im 5. Semester meines
          Studiums in Wirtschaftsinformatik an der Berner Fachhochschule. Diese
          Doppelaspekt ermöglicht es mir, sowohl praktische Erfahrungen in der
          IT-Branche zu sammeln, als auch mein theoretisches Wissen zu vertiefen
          und anzuwenden.
        </p>
      </div>
    </div>
    <!--Featured Project-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>Zukünftige Projekte</h2>
        <h4>Erweiterung von TAXWARE AG</h4>
      </div>

      <carousel>
        <div *ngFor="let picture of featuredProject.pictures">
          <slide
            ><img
              src="{{ picture }}"
              alt="slide"
              style="display: block; width: 100%"
            />
          </slide>
        </div>
      </carousel>

      <p class="mt-2">Wir erweitern unsere TaxWare Software in TaxWare WEB.</p>
      <p>Besuchen Sie den Portfolio-Bereich, um mehr zu erfahren!</p>
    </div>
  </div>
</div>
